:root{
    --Punto_focal:#b80644 /*Rojo*/
    --interfaz:   #ede2e2 /*Blanco*/
}
*{
    box-sizing: border-box;
}
.sectionbackground{
    display: flex;
    justify-content: center;
    background-color:#b80644;
    max-height: 15rem;/*Controla cuanto va a crecer el section*/
    padding-bottom: 4rem; 
    margin-bottom: 18rem;
}

.containerBackground{
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
    margin-left: 15em;
    margin-right: 15em;
    box-shadow: gray 1px 1px 2px;
    border-radius: 8px;

    

}
.sb{
    border-radius: 8px;
    padding:  20px;
    background-color:  white;
    flex-basis: 50%;
    text-align: center;
    flex-basis: 50%;
    box-shadow: gray 1px 1px 2px;
    
}
.sb>p , .sb>h2{
    padding: 10px;
    
}
.sb>ul{
    list-style: none;
}
.sbsubtitulo{
    color: #b80644;
    font-size: 20px;
    font:bolder;
}
@media screen and (max-width: 768px){
    .sectionbackground{
        min-width: auto;
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-bottom: 40rem;

    }
    .containerBackground{
        flex-direction: column;
        margin-bottom: 5rem;
    }
}


/*Seccion de proyectos personales*/
.proyectosPersonales{
    margin-top: 2rem;
    padding: 50px;
    margin-bottom: 4rem;
}
.proyectosPersonales h2{
    font-size: 30px;
}
.proyectosPersonales h4{
    font-size: 22px;
}
.proyectosPersonales h2, .proyectosPersonales h4{
    text-align: center;
    padding: 5px 10px;
}
#containerP{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.containertarjeta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-basis: 33.33%;
    flex-grow: 2;
}
.tarjeta{
    background-color:rgba(227, 227, 227, 0.2) ;
    border-radius: 20px;
    box-shadow: gray 0.6px 0.8px 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
}
h5{
    position: relative;
    top: 30px;
    font-size: 25px;
}
.tarjeta:hover{
    background-color: rgba(7, 7, 7, 0.9);
    color: white;
    width: 380px;
    height: 280px;
    transition: all 0.8s ease-in-out 0.3s;
    h5{
        top: 1px;
    }
    .tarjeta-text{
        display: inline;
        visibility: visible;
        color: white;
        height: auto;
        text-align: start;
        margin:5px 20px;
    }
    .botonTarjetas{
        visibility: visible;
        background-color: #b80644;
        color: white !important;
        margin-top: 25px;
        padding: 0.75rem;
        border-radius: 10px;
        width: auto;
        height: auto;
        text-decoration: none;
        opacity: 0.8;
    }
}
.tarjeta-text{
    visibility: hidden;
    
}
.botonTarjetas{
    visibility: hidden;
}
@media screen and (max-width: 768px){
    .containerP{
        flex-direction: column;
        
    }
    .containertarjeta{
        width: 300px;
        margin-bottom: 20px;
    }
}

