:root{
    --Punto_focal:#b80644 /*Rojo*/
    --interfaz:   #ede2e2 /*Blanco*/
}
*{
    box-sizing: border-box;

}
.sectionbackground{
    position: static;
    background-color:#b80644;
    max-height: 15rem;/*Controla cuanto va a crecer el section*/
    padding-bottom: 4rem; 
    margin-bottom: 25rem;
}
.containerBackground{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-radius: 8px;
    margin-left: 15em;
    margin-right: 15em;
    top: 50px;
    box-shadow: gray 1px 1px 2px;

}
/*
.backgroundExtensivo{
    position: inherit;
    background-color: greenyellow;
    display: flex;
    flex-wrap: ;
    justify-content: space-around;
    border-radius: 8px;
    top: 20px;
    border-style:ridge;
}*/
.educacion{
    text-align: center;
    flex-basis: 50%;
}
.areasDeInteres{
    text-align: center;
    flex-basis: 50%;

}
/*Seccion de proyectos personales*/
.proyectosPersonales{
    margin-top: 10px;
    padding: 20px;
}
.proyectosPersonales h2, .proyectosPersonales h4{
    text-align: center;
    padding: 5px 10px;
}
#containerP{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.containertarjeta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-basis: 33.33%;
    flex-grow: 2;
}
.tarjeta{
    background-color: white ;
    border-radius: 20px;
    border: 0.7px gray solid;
    box-shadow: gray 0.6px 0.8px 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    max-width: 350px;
    height: 200px;
}
.tarjeta:hover{
    background-color: rgb(0, 0, 0, 0.8999);
    color: white;
    transition: all 1.5s ease-in-out 0.2s;
    .tarjeta-text{
        display: inline;
        visibility: visible;
        color: white;
        height: auto;
        text-align: start;
        margin:5px 20px;
    }
    .botonTarjetas{
        visibility: visible;
        background-color: #b80644;
        color: white !important;
        padding: 0.75rem;
        border-radius: 10px;
        width: auto;
        height: auto;
        text-decoration: none;
        opacity: 0.8;
    }
}

.tarjeta-text{
    visibility: hidden;
    
}

.botonTarjetas{
    visibility: hidden;
}

/*
.espacio{
    background-color: aqua;
    height: 80px;
    width: 200px;
    z-index: 0.1;

}
.espacio:hover{
    height: 0px;

}*/


